doctype html
html(lang='en')
  head
  body#collection-5ba37022f950b70cd061a403.transparent-header.enable-nav-button.nav-button-style-outline.nav-button-corner-style-pill.banner-button-style-outline.banner-button-corner-style-square.banner-slideshow-controls-arrows.meta-priority-category.center-entry-title--meta.hide-list-entry-footer.hide-blog-sidebar.center-navigation--info.event-thumbnails.event-thumbnail-size-32-standard.event-date-label.event-date-label-time.event-list-show-cats.event-list-date.event-list-time.event-list-address.event-icalgcal-links.event-excerpts.event-item-back-link.gallery-design-grid.aspect-ratio-auto.lightbox-style-light.gallery-navigation-bullets.gallery-info-overlay-show-on-hover.gallery-aspect-ratio-32-standard.gallery-arrow-style-no-background.gallery-transitions-fade.gallery-show-arrows.gallery-auto-crop.product-list-titles-under.product-list-alignment-center.product-item-size-11-square.product-image-auto-crop.product-gallery-size-11-square.show-product-price.show-product-item-nav.product-social-sharing.newsletter-style-dark.opentable-style-light.small-button-style-solid.small-button-shape-pill.medium-button-style-outline.medium-button-shape-square.large-button-style-outline.large-button-shape-square.image-block-poster-text-alignment-center.image-block-card-dynamic-font-sizing.image-block-card-content-position-center.image-block-card-text-alignment-left.image-block-overlap-dynamic-font-sizing.image-block-overlap-content-position-center.image-block-overlap-text-alignment-left.image-block-collage-dynamic-font-sizing.image-block-collage-content-position-top.image-block-collage-text-alignment-left.image-block-stack-dynamic-font-sizing.image-block-stack-text-alignment-center.button-style-solid.button-corner-style-square.tweak-product-quick-view-button-style-floating.tweak-product-quick-view-button-position-bottom.tweak-product-quick-view-lightbox-excerpt-display-truncate.tweak-product-quick-view-lightbox-show-arrows.tweak-product-quick-view-lightbox-show-close-button.tweak-product-quick-view-lightbox-controls-weight-light.native-currency-code-usd.collection-5ba37022f950b70cd061a403.collection-type-index.collection-layout-default.homepage.view-list.mobile-style-available.has-banner-image.index-page.force-mobile-nav
    .sqs-announcement-bar-dropzone
    #sidecarNav
      #mobileNavWrapper.nav-wrapper(data-content-field='navigation-mobileNav')
        nav#mobileNavigation
          .index.active.homepage
            a(href='/home')
              | Home
          .index
            a(href='/about-us')
              | About Us
          .index
            a(href='/community')
              | Community
          .external
            a(href='https://medium.com/@aditiagrawal_49691')
              | Blog
          .collection
            a(href='/contact')
              | Contact
          .collection
            a(href='/be-a-trailblazer')
              | Be A Trailblazer
    #siteWrapper.clearfix
      .sqs-cart-dropzone(style='top: 103px;')
      header#header.show-on-scroll(data-offset-el='.index-section', data-offset-behavior='bottom', role='banner')
        .header-inner
          #logoWrapper.wrapper(data-content-field='site-title')
            h1#logoImage
              a(href='/home')
                img(src='/saved_resource', alt='School of Future')
          //
          .mobile-nav-toggle
            .top-bar
            .middle-bar
            .bottom-bar
          .mobile-nav-toggle.fixed-nav-toggle
            .top-bar
            .middle-bar
            .bottom-bar
          //
          #headerNav
            #mainNavWrapper.nav-wrapper(data-content-field='navigation-mainNav')
              nav#mainNavigation(data-content-field='navigation-mainNav')
                .index.active.homepage
                  a(href='/home')
                    | Home
                .index
                  a(href='/about-us')
                    | About Us
                .index
                  a(href='/community')
                    | Community
                .external
                  a(href='https://medium.com/@aditiagrawal_49691')
                    | Blog
                .collection
                  a(href='/contact')
                    | Contact
                .collection
                  a(href='/be-a-trailblazer')
                    | Be A Trailblazer
            // style below blocks out the mobile nav toggle only when nav is loaded
            style.
              .mobile-nav-toggle-label { display: inline-block !important; }
      #promotedGalleryWrapper.sqs-layout.promoted-gallery-wrapper
        .row
          .col
