doctype html
html(lang='en')
  head
  body
    .sqs-announcement-bar-dropzone
    #sidecarNav
      #mobileNavWrapper.nav-wrapper(data-content-field='navigation-mobileNav')
        nav#mobileNavigation
          .index.active.homepage
            a(href='/home')
              | Home
          .index
            a(href='/about-us')
              | About Us
          .index
            a(href='/community')
              | Community
          .external
            a(href='https://medium.com/@aditiagrawal_49691')
              | Blog
          .collection
            a(href='/contact')
              | Contact
          .collection
            a(href='/be-a-trailblazer')
              | Be A Trailblazer
    #siteWrapper.clearfix
      .sqs-cart-dropzone(style='top: 103px;')
      header#header.show-on-scroll(data-offset-el='.index-section', data-offset-behavior='bottom', role='banner')
        .header-inner
          #logoWrapper.wrapper(data-content-field='site-title')
            h1#logoImage
              a(href='/home')
                img(src='/saved_resource', alt='School of Future')
          
          .mobile-nav-toggle
            .top-bar
            .middle-bar
            .bottom-bar
          .mobile-nav-toggle.fixed-nav-toggle
            .top-bar
            .middle-bar
            .bottom-bar
          
          #headerNav
            #mainNavWrapper.nav-wrapper(data-content-field='navigation-mainNav')
              nav#mainNavigation(data-content-field='navigation-mainNav')
                .index.active.homepage
                  a(href='/home')
                    | Home
                .index
                  a(href='/about-us')
                    | About Us
                .index
                  a(href='/community')
                    | Community
                .external
                  a(href='https://medium.com/@aditiagrawal_49691')
                    | Blog
                .collection
                  a(href='/contact')
                    | Contact
                .collection
                  a(href='/be-a-trailblazer')
                    | Be A Trailblazer
            // style below blocks out the mobile nav toggle only when nav is loaded
            style.
              .mobile-nav-toggle-label { display: inline-block !important; }
      #promotedGalleryWrapper.sqs-layout.promoted-gallery-wrapper
        .row
          .col
